.home {
	position: relative;
	overflow-x: hidden;
}
.hero {
	padding: 100px 60px;
	max-width: initial;
	display: flex;
	width: 100%;
	z-index: 1;
}
.hero h2 {
	margin: 0;
	font-size: 30px;
	line-height: 38px;
	letter-spacing: -0.5px;
	font-weight: 500;
	max-width: 640px;
	color: #3c4043;
}
.hero span {
	color: #1a73e8;
}
.hero h3 {
	color: #3c4043;
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
}
.hero h4{
	margin-top: 48px;
	margin-bottom: 0;
	font-weight: 400;
}
.belt {
	background-image: url('https://res.cloudinary.com/limhenry/image/upload/v1536157604/devfestkl18_pwa/misc/cover.jpg');
}

.home_info {
	padding: 48px 60px;
	display: flex;
}

.home_info .text {
	width: 55%;
	padding-right: 64px;
}

.home_info h3 {
	margin-bottom: 28px;
    padding: 0;
    font-size: 32px;
    line-height: 30px;
    font-weight: 400;
}

.home_info p {
	font-size: 17px;
    line-height: 28px;
}

.home_info .stats {
	padding-left: 64px;
	display: flex;
	flex-wrap: wrap;
	width: 45%;
}

.stats .stat {
	width: 50%;
	margin: 16px 0 24px 0;
}

.stats .stat .number {
	font-size: 50px;
	line-height: 72px;
}

.stats .stat .number:after{
	content: "";
    display: block;
    height: 3px;
    width: 64px;
    background-color: #1a73e8;
}

.stats .stat .label {
	margin-top: 5px;
}

.partners {
	padding: 48px 60px;
	max-width: 1200px;
}

.partners h3 {
	margin-bottom: 28px;
    padding: 0;
    font-size: 32px;
	line-height: 30px;
	font-weight: 400;
}

.partners h4 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 8px;
}

.partners .sponsor {
	display: flex;
	flex-wrap: wrap;
}

.partners .item {
	display: flex;
	padding: 8px 24px;
	width: 170px;
	height: 140px;
	margin: 0 2px 4px 0;
}

.partners .item img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	margin: auto;
}
@media screen and (max-width: 768px) {
	.glyph {
		display: none;
	}
	.hero {
		width: auto;
		padding: 112px 20px 48px 20px;
		flex-direction: column;
	}

	.hero_title {
		width: 100%;
	}

	.hero h2 {
		font-size: 24px;
		line-height: 32px;
		max-width: 90%;
		margin: 0;
	}

	.hero h3 {
		margin-top: 32px;
		font-size: 16px;
	}

	.hero h4 {
		margin-top: 16px;
	}

	.video {
		width: 100%;
		margin-top: 48px;
	}

	.belt {
		background-image: url('https://res.cloudinary.com/limhenry/image/upload/fl_progressive,w_768/v1536157604/devfestkl18_pwa/misc/cover.jpg');
	}

	.home_info {
		padding: 20px;
		flex-direction: column;
	}

	.home_info .text,
	.home_info .stats {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	.home_info p {
		line-height: 26px;
	}

	.stats .stat .number {
		font-size: 40px;
	}

	.home_info h3,
	.partners h3 {
		font-size: 28px;
		margin-bottom: 24px;
	}

	.partners {
		padding: 20px;
	}

	.partners .item {
		padding: 16px 24px;
		width: calc(25% - 2px);
		height: 95px;
	}

	.partners .item img {
		width: 110px;
	}
}

@media screen and (max-width: 680px) {
	.partners .item {
		width: calc(33.33% - 2px);
	}
}

@media screen and (max-width: 500px) {
	.partners .item {
		width: calc(50% - 2px);
	}
}