.schedule_section {
    border-top: 1px solid #EDEDED;
}

.schedule_content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0 auto;
}

.schedule_time {
    padding: 30px 0 30px 60px;
    flex: 0 0 200px;
    font-size: 34px;
    color: #202124;
}

.schedule_time span {
    margin-left: 4px;
    font-size: 14px;
}

.schedule_events {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.schedule_event {
    cursor: pointer;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    transition: 50ms background-color ease;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    min-height: 100px;
    padding: 0 20px 0 80px;
}

.schedule_event:hover {
    background-color: #FAFAFA;
}

.star_button {
    padding: 12px;
    margin-right: 24px;
}

.star_button svg {
    width: 24px;
    height: 24px;
}

.star_button:hover .star {
    fill: #757575;
}

.star_button:hover .star_border {
    fill: #4768FD;
}

.schedule_event_details {
    width: 100%;
    max-width: 860px;
}

.schedule_event_title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #4A4A4A;
}

.schedule_event_meta {
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    color: #202124;
}

.schedule_event_description {
    margin: 4px 0 0 0;
    font-size: 13px;
}

.schedule_event:first-child {
    border-top: none;
}

.schedule_event:last-child {
    border-bottom: none;
}

@media screen and (max-width: 1200px) {
    .schedule_event {
        padding-left: 60px;
    }
    .schedule_time {
        padding: 30px 0 30px 30px;
        flex: 0 0 160px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        display: none;
    }
    .schedule {
        padding-top: 64px;
        margin-top: 0;
    }
    .schedule_time {
        display: block;
        font-size: 16px;
        line-height: 26px;
        box-sizing: border-box;
        color: #4768FD;
        font-weight: 500;
        padding: 16px 0;
        text-align: center;
        flex: 0 0 66px;
    }
    .schedule_time span {
        display: block;
        font-size: 11px;
        line-height: 12px;
        margin-left: 0;
    }
    .schedule_events {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
    }
    .schedule_event {
        border: none;   
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 16px 10px 16px 20px;
        min-height: initial;
    }
    .schedule_event:hover {
        background-color: initial;
    }
    .schedule_event:focus {
        background-color: #FAFAFA;
    }
    .star_button {
        padding: 8px 12px;
        margin-right: 0; 
    }
    .star_button:hover .star {
        fill: #4768FD;
    }
    .star_button:hover .star_border {
        fill: #000;
    }
    .schedule_event_title {
        color: #202124;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
    }
    .footer {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .schedule {
        padding-top: 56px;
        margin-top: 0;
    }
}