.social_footer {
    border-top: 1px solid #EDEDED;
    padding: 96px 80px 96px;
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
    align-items: center;
}

.social_body {
    max-width: 420px;
}

.social_body p {
    margin-top: 0;
    font-size: 20px;
    line-height: 30px;
}

.social_twitter_wall {
    margin-top: 20px;
}

.social_body a {
    margin-right: 20px;
}

.social_gif {
    max-width: 340px;
    display: none;
}

.social_gif img {
    width: 100%;
}

@media screen  and (max-width: 480px) {
    .social_gif {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .social_footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .social_gif {
        margin-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    .social_footer {
        padding: 60px 20px 64px;
    }

    .social_body p {
        margin-right: 24px;
        font-size: 18px;
    }

    .social_gif {
        margin-top: 80px;
    }
}