.tabs {
    display: none;
    margin: 0 0 0 60px;
}

.tabs .tab {
    color: #4A4A4A; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 4px;
    border-bottom: 3px solid transparent;
    padding: 16px;
    transition: 150ms border ease, 150ms color ease;
}

.tabs .tab:hover {
    color: #4768fd;
    border-bottom-color: #bcc8fb;
}

.tabs .tab[active] {
    border-bottom: 3px solid #4768fd;
}

.attending {
    max-width: 960px;
    padding-bottom: 64px;
    margin: 64px 60px 0 60px;
}

.attending_item {
    margin-bottom: 120px;
    display: flex;
}

.attending_title {
    font-size: 28px;
    width: 25%
}

.attending_content {
    padding-left: 64px;
    width: 75%;
    font-size: 16px;
    line-height: 1.87;
}

.attending_content p {
    margin-top: 0;
}

.attending_content b {
    font-weight: 500;
}

.attending_content a {
    color: #4768FD;
    font-weight: 500;
    text-decoration: none;
}

.attending_list p {
    margin: 0 0 6px 0;
}

@media screen and (max-width: 768px) {
    .tabs {
        display: flex;
        margin: 0;
        width: 100%;
        padding-top: 64px;
        border-bottom: 1px solid #e6e6e6;
    }
    .tabs .tab {
        text-align: center;
        width: 100%;
        border-bottom: 2px solid transparent;
    }
    .tabs .tab:hover {
        border-bottom: 2px solid #bcc8fb;
    }
    .tabs .tab[active] {
        border-bottom: 2px solid #4768fd;
    }
    .hero, .belt {
        display: none;
    }
    .attending {
        margin: 24px 0 0 0;
        padding: 20px;
    }
    .attending_item {
        flex-direction: column;
        margin-bottom: 48px;
    }
    .attending_title {
        width: auto;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .attending_content {
        padding-left: 0;
        width: 95%;
    }
}
@media screen and (max-width: 600px) {
    .tabs {
        padding-top: 56px;
    }
}