.scrollbar {
    overflow-x: auto;
    overflow-y: auto;
    padding-top: 60px;
}

.mapImage {
    height: calc(100vh - 130px);
}

@media screen and (max-width: 768px) {
    .cfp {
        margin: 8px 0 0 0;
        padding: 80px 16px 0 16px;
    }
    .footer {
        /* display: none; */
    }
}

@media screen and (min-width: 768px){
    .scrollbar {
        padding-top: 0px;
    }
    .mapImage {
        margin-left: 5vh;
    }
}
