<!DOCTYPE html>
<html lang="en">

<head>
    <base href="<%= htmlWebpackPlugin.files.publicPath %>">
    <script>
        window.GlobalVars = {rootPath: '<%= htmlWebpackPlugin.files.publicPath %>'};
    </script>
    <meta charset="utf-8">
    <title>Google I/O Extended 2018 Kuala Lumpur</title>
    <meta name="description" content="Google I/O brings together developers from around the globe for an immersive experience focused on exploring the next generation of tech.">
    <meta itemprop="name" content="Google I/O Extended 2018 Kuala Lumpur">
    <meta itemprop="description" content="Google I/O brings together developers from around the globe for an immersive experience focused on exploring the next generation of tech.">
    <meta itemprop="url" content="https://events.gdgkl.org/io/">
    <meta itemprop="location" content="Google Malaysia, Kuala Lumpur">
    <meta property="og:url" content="https://events.gdgkl.org/io/">
    <meta property="og:type" content="Event">
    <meta property="og:image" content="https://storage.googleapis.com/io-2018.appspot.com/v1/io-social-banner.gif">
    <meta property="og:title" content="Google I/O Extended 2018 Kuala Lumpur">
    <meta property="og:site_name" content="Google I/O Extended 2018 Kuala Lumpur">
    <meta property="og:description" content="Google I/O brings together developers from around the globe for an immersive experience focused on exploring the next generation of tech.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="https://res.cloudinary.com/limhenry/image/upload/v1528856065/ioxkl18_pwa/favicon.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500" rel="stylesheet">
    <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
        <meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
    <% } %>
    <% for (var chunk of webpack.chunks) { %>
        <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
            <% for (var file of chunk.files) { %>
                <% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
                    <link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
                <% } else if (file.match(/manifest\.json$/)) { %>
                <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
            <% } %>
        <% } %>
    <% } %>

</head>

<body>
    <%= htmlWebpackPlugin.options.ssr({
			url: '/'
    }) %>
    <script src="https://cdn.ravenjs.com/3.26.1/raven.min.js" crossorigin="anonymous"></script>
    <script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
    <script>
        window.fetch || document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')
    </script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('<%= htmlWebpackPlugin.files.publicPath %>sw.js', { scope: '<%= htmlWebpackPlugin.files.publicPath %>' }).then(reg => {
                reg.onupdatefound = () => {
                    var installingWorker = reg.installing;
                    installingWorker.onstatechange = () => {
                        switch (installingWorker.state) {
                            case 'installed':
                                if (navigator.serviceWorker.controller) {
                                    if (window.confirm("New update is available! Refresh now for better experience.")) {
                                        window.location.reload();
                                    } 
                                }
                                break;
                            case 'redundant':
                                console.error('The installing service worker became redundant.');
                                break;
                        }
                    }
                }
            }).catch(e => {
                console.error('Error during service worker registration:', e);
            })
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76843776-9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-76843776-9');
    </script>
</body>

</html>