<!DOCTYPE html>
<html lang="en">

<head>
    <base href="<%= htmlWebpackPlugin.files.publicPath %>">
    <script>
        window.GlobalVars = {rootPath: '<%= htmlWebpackPlugin.files.publicPath %>'};
    </script>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://apis.google.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://cdn.ravenjs.com">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="description" content="GDG DevFest Kuala Lumpur brings together people who shape the future of Android, Web and Cloud technologies for 1 full day of sessions, workshops and networking.">
    <meta itemprop="name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta itemprop="description" content="GDG DevFest Kuala Lumpur brings together people who shape the future of Android, Web and Cloud technologies for 1 full day of sessions, workshops and networking.">
    <meta itemprop="url" content="https://events.gdgkl.org/devfest<%= htmlWebpackPlugin.options.url %>">
    <meta itemprop="location" content="Kuala Lumpur">
    <meta itemprop="startDate" content="2018-12-02">
    <meta itemprop="endDate" content="2018-12-02">
    <meta property="og:url" content="https://events.gdgkl.org/devfest<%= htmlWebpackPlugin.options.url %>">
    <meta property="og:type" content="Event">
    <meta property="og:image" content="https://res.cloudinary.com/limhenry/image/upload/v1536161798/devfestkl18_pwa/misc/devfestkl18_cover.jpg">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:description" content="GDG DevFest Kuala Lumpur brings together people who shape the future of Android, Web and Cloud technologies for 1 full day of sessions, workshops and networking.">
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Event",
          "name": "GDG DevFest Kuala Lumpur 2018",
          "description": "GDG DevFest Kuala Lumpur brings together people who shape the future of Android, Web and Cloud technologies for 1 full day of sessions, workshops and networking.",
          "url": "https://events.gdgkl.org/devfest/",
          "image": "https://res.cloudinary.com/limhenry/image/upload/v1536161798/devfestkl18_pwa/misc/devfestkl18_cover.jpg",
          "startDate": "2018-12-02",
          "endDate": "2018-12-02",
        }
      </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="https://res.cloudinary.com/limhenry/image/upload/v1536154177/devfestkl18_pwa/misc/favicon.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500,700" rel="stylesheet">
    <script async src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.7/pwacompat.min.js"
    integrity="sha384-ptgwb3/v69WGur7IwSnWOowVxE7hcRB3DG/EiHdejrw2sFNwUHynFbiRMPxc4hdS"
    crossorigin="anonymous"></script>
    <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
        <meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
    <% } %>
    <% for (var chunk of webpack.chunks) { %>
        <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
            <% for (var file of chunk.files) { %>
                <% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
                    <link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
                <% } else if (file.match(/manifest\.json$/)) { %>
                <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
            <% } %>
        <% } %>
    <% } %>

</head>

<body>
    <%= htmlWebpackPlugin.options.ssr({
			url: '/'
    }) %>
    <script src="https://cdn.ravenjs.com/3.26.1/raven.min.js" crossorigin="anonymous"></script>
    <script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
    <script>
        window.fetch || document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')
    </script>
    <script>
        window.dispatchEvent(new CustomEvent('showSnack', {detail: {message: "content is now available offline"}}));

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('<%= htmlWebpackPlugin.files.publicPath %>sw.js', { scope: '<%= htmlWebpackPlugin.files.publicPath %>' }).then(reg => {
                reg.onupdatefound = () => {
                    var installingWorker = reg.installing;
                    installingWorker.onstatechange = () => {
                        switch (installingWorker.state) {
                            case 'installed':
                                if (navigator.serviceWorker.controller) {
                                    window.dispatchEvent(new CustomEvent('showRefreshSnack', null));
                                }
                                break;
                            case 'redundant':
                                console.error('The installing service worker became redundant.');
                                break;
                        }
                    }
                }
            }).catch(e => {
                console.error('Error during service worker registration:', e);
            })
        }
    </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-76843776-10', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>