.signin {
    background: #5771f6;
    padding: 80px 60px;
    color: white;
}

.signin h3 {
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    max-width: 720px;
}

.signin p {
    max-width: 720px;
    margin-bottom: 16px;
    line-height: 26px;
}

.signin .learn_more {
    font-weight: 500;
    margin-bottom: 24px;
    text-decoration: none;
    color: white;
}

.signin .ticket_btn {
    background: #31E7B6;
    border-radius: 4px;
    color: #202124;
    padding: 0 20px;
    display: inline-block;
    font-weight: 500;
    height: 36px;
    font-size: 15px;
    line-height: 36px;
    margin-top: 8px;
    cursor: pointer;
    min-width: 85px;
    text-align: center;
    transition: box-shadow 200ms ease;
    text-decoration: none;
}

.signin .ticket_btn:hover {
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 5px 8px 0 rgba(0,0,0,0.24)
}

.ticket {
    margin-bottom: 96px;
    padding: 0 60px;
}

.ticket_item {
    max-width: 860px;
    margin: 24px 24px 24px 0;
    border: 1px solid lightgrey;
    border-radius: 4px;
    display: flex;
    min-height: 168px;
}
.ticket_logo {
    background: #f6f6f6;
    padding: 36px 48px;
    display: flex;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    align-items: center;
}

.ticket_logo svg {
    width: 64px;
    height: 64px;
}

.ticket_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ticket_detail {
    flex: 1;
    padding: 36px 24px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ticket_action {
    border-top: 1px solid lightgray;
    padding: 16px 24px;
    display: flex;
}

.ticket_action .action_btn {
    text-transform: uppercase;
    margin-right: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #4768fd;
    font-size: 14px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .signin {
        margin-top: 48px;
        padding: 48px 20px;
    }
    .signin h3 {
        font-size: 20px;
    }
    .signin p {
        font-size: 15px;
        line-height: 22px;
    }
}